__pycache__/
.DS_STORE
*.pyc
.ipynb_checkpoints/
archive/runs/
*.pdb
*.png
*.mpg
*.gif
*.rsmi
*.tfrecord
*.xyz
*.cif
*.jpg
*.rxn
*.mol
runs/
*.vscode
*.mp4
*.json
nature/tasks/clevr/CLEVR_v1.0
!graph.png
!model.png
